.gitignore
.idea
!.gitignore
new_data
test.ipynb
*.pyc
sentiment_model_cache
__MACOSX

# ignore Latex files
slides/*
!slides/chapters
!slides/pic
slides/chapters/*
!slides/chapters/*.tex
!slides/*.pdf
!slides/*.tex
!slides/*.sty
